<section class="hero is-black is-medium battle-bg-home">
    <div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered mx-4">
            <div class="column is-6 is-5-fullhd is-offset-1-fullhd mb-5">
                <div class="section-header">
                    <h1 class="title is-spaced"> RPG Cards Generator</h1>
                    <h2 class="subtitle is-3"> Design fully customized cards to use in your <strong class="has-text-danger-dark">epic</strong> battles! &nbsp<span><i class="fas fa-fist-raised"></i></span> </h2>
                    <p class="is-size-5"> Has never been so simple. Just &nbsp<a href="/signup"><span class="is-small"><i class="fas fa-user-plus"></i></span> Sign up</a> to start designing your cards or, if you prefer, visit the gallery to see other users' creations.</p>
                    <div class="field is-grouped mt-4">
                        <div class="control"> <a class="button is-white is-outlined" href="/cards/my-deck-of-cards"><span class="has-text-success">
                            <i class="fas fa-layer-group"></i></span>&nbsp My Deck of Cards</a> </div>
                        <div class="control"> <a class="button is-white is-outlined" href="/cards"><span><i class="far fa-eye"></i></span>&nbsp Gallery</a> </div>
                    </div>
                    
                </div>
            </div>
            <div class="column is-6 has-text-centered">
                <div class="section-media mr-6"> <img role="presentation"
                        src="/images/various/custom-card.gif">
                    <p> <small><a href="/cards/my-deck-of-cards"><u>Unleash your creativity</u></a> Your imagination is the limit.</small> </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="section has-background is-medium">
    <div class="container">
        <h2 class="title is-spaced pb-5"> <span><i class="fas fa-hat-wizard"></i></span> One..Two.. Ready!</h2>
        <div class="columns">
            <div class="column is-4">
                <div class="card is-usp"> <img role="presentation"
                        src="/images/build-deck.png">
                    <h3 class="title is-4 is-spaced my-5 mx-5"><span><i class="far fa-edit"></i></span>&nbsp<span><i class="fas fa-layer-group"></i></span> Build your deck </h3>
                    <p class="subtitle is-5 my-5 mx-5"> Design your cards from any device, it's easy and fun. Try all the combinations that you can imagine! </p>
                    <div class="control my-5 mx-5"> <a class="button is-success is-outlined" href="/cards/my-deck-of-cards"><span>
                            <i class="fas fa-layer-group"></i></span>&nbsp My Deck of Cards</a> </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-usp"> <img role="presentation"
                        src="/images/printed-cards.png">
                    <h3 class="title is-4 is-spaced my-5 mx-5"><span><i class="fas fa-print"></i></span> Preview & print </h3>
                    <p class="subtitle is-5 my-5 mx-5"> Print your personalized cards (or choose some from the gallery) to incorporate them into your games.</p>
                    <div class="control my-5 mx-5"> <a class="button is-dark is-outlined" href="/cards/details/5fbad7c5c61aa2147805982c#previewImage"><span>
                            <i class="fas fa-search-plus"></i></span>&nbsp Try it!</a> </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-usp"> <img role="presentation"
                        src="/images/playing-cards.png">
                    <h3 class="title is-4 is-spaced my-5 mx-5"><span><i class="far fa-laugh-wink"></i></span>&nbsp<span><i class="far fa-grin-squint-tears"></i></span> Play with friends! </h3>
                    <p class="subtitle is-5 my-5 mx-5"> Check the battlegrounds map to find a nearby place where you can meet other players and make friends. </p>
                    <div class="control my-5 mx-5"> <a class="button is-danger is-outlined" href="/battlegrounds"><span>
                            <i class="fas fa-map-marked-alt"></i></span>&nbsp Battlegorunds</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>


