<div class="hero is-black is-medium hero is-black is-medium bg-head-bg">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <h1 class="title"><span class="has-text-danger-dark"><i class="fas fa-map-marked-alt"></i></span> Battlegrounds locations </h1>
                    <h2 class="subtitle mt-3"> Find places to meet other RPG card games fans and make new friends! Don't forget to bring <br>
                        <a class="has-text-success" href="/cards/my-deck-of-cards"><span class="has-text-success"><i
                                    class="fas fa-layer-group"></i></span> your Deck</a> with you.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero is-mediumS">
    <div class="hero-body">
        <div class="container has-text-centered">

            <div id="map"></div>

        </div>
    </div>
</section>


<script src="{{url}}"></script>
<script src="/javascripts/battlegroundsMap.js"></script>